body{
    font-family: 'Roboto', sans-serif;
   font-style: normal;
    font-weight: bold;
    background:  #F2F1F1;
    

}


.redText{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FD4720;
}

.sign-in-btn {
    background: #040268;
    border-radius: 10px;
    color: #FFF;
    height: 40px;
    margin: 0 10px;
}

.sign-up{
    background: #C4C4C4;

}



.main-btn{
    background: #040268;
    color: #FFFFFF;
    width: 350px;
    height: 50px;
    border-radius: 11px;
}



.welcome{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.welcome-text{
    font-size: 36px;
    color: #000;
}

.single-about-card{
    background: #FFF;
    border-bottom: 2px solid #040268;
    
}

.about-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


.single-about-card:nth-child(odd){
    border-bottom: 2px solid #FD4720;
}

.features-header{
    margin-top: 50px;
    font-weight: bold;
}

.feature-section{
    color: #000;
    background: #040268;
}

.feature-section h3{
    background: #fff;
}

.features {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 20px;
    background: #040268;
    z-index: 2;
    color: #fff;
    margin: 50px 0;
    /* max-width: 1240px; */
    padding: 50px 0;
} 

.app-download-section{
    background: #FFF;
    margin-top: 30px;
}

.app-downloads{
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.app-downloads p{
    font-weight: bold;
    font-size: 2rem;
}

.sponsors-section{
    margin: 50px; 
}

.sponsor-images{
  
    display: flex;
    align-items: center;  
    justify-content: center;

}

.sponsor-images img{

    margin: 0 30px;
}



.redText{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FD4720;
}

.header-brandname a{
    color: #040268;
    font-weight: bold;
}

.footer-items{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    background: #fff;
   color: #000

}


.footer-links-list{
    list-style: none;
    text-align: center; 
    margin: 0;
    padding: 0;
}

.footer-links-list li a{
    color: #000000;
}

.social-icons a{
    color: #000;
    padding: 10px;
}

.features2-text{
    order: 2;
}

@media(max-width:761px){

    .welcome-text{
        font-size: 30px;
       
    }
}

@media(max-width:700px){
    .features2-text{
        order: 0;
    }

    .main-btn{
        width: auto;
        font-size: 12px;
    }

    .features{
        display: block;
    }
    .about-card{
        display: block;
    }
    .single-about-card{
        margin: 10px 0;  
    }
    .welcome-text{
        font-size: 20px
    }
}




@media(max-width:600px){

    .single-about-card{
        margin: 10px 0;  
    }
}